TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
GEMINI_API_KEY=
CLICKHOUSE_HOST=clickhouse-server
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
AIRFLOW_UID=1001
SUPABASE_URL=
SUPABASE_SECRET_OR_SERVICE_ROLE_KEY=
NESTJS_API_URL=http://host.docker.internal:3001
DATA_PIPELINE_API_KEY=your-secret-key-for-airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__API__SECRET_KEY=
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=



